/* :root {
  --bg-color;
  --text-color;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: var(--bg-color, #f3efec);
  font-family: var(--main-text, 'Raleway'), serif;
  font-weight: 400;
  color: var(--text-color, #312a4e);
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--heading-text, 'STIX Two Text'), sans-serif;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, -0.9375rem + 15vw, 7.5rem);
  padding-bottom: 40px;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.content__title {
  font-size: 30px;
  padding-top: 7%;
  padding-bottom: 2.5%;
}

.content__text-block {
  /* position: relative; */
  font-size: 18px;
  line-height: 100%;
}

.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  font-size: var(--accent-font, 30px);
  font-weight: 700;
  line-height: 100%;
  background-color: var(--accent-color, #ffab6b);
  padding: 0 4px;
  margin-right: 1px;
}

/* .content__paragraph {

} */

.content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__figure {
  margin: 0 7%;
  width: calc(100% + 14%);
  /* position: absolute; */
  transform: translateX(-14%);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #312a4e;
  margin-bottom: calc((91 * 100%) / 1440);
  font-size: inherit;
  font-weight: 400;
}

.web__link {
  color: currentColor;
}

.content__blockquote {
  width: 75%;
  margin-bottom: 1.5em;
  font-size: 18px;
  font-style: italic;
  line-height: 200%;
  margin-left: auto;
  margin-right: auto;
}

.content__list {
  list-style: none;
}

.content__list li {
  position: relative;
  padding-left: 40px;
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__list li::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}